body{
    margin: 0;
    padding: 0;
    background: url(Images/background-7.jpg) ;
}
#Header{
    display: flex;
    flex-direction: row;
    height: 110px;
    font-style: italic;
    font-size: 25px;
    width: 100%;
    margin-bottom:-18px;
}
#H1{
    margin-top: 30px;
    margin-left: 20px;
}
#Header h2{
    margin-left: 350px;
    margin-top: 5px;
    font-style: normal;
    font-size: 25px;
}
h2 p{
    margin-left: -180px;
}
#H2 h1{
    margin-left: -20px;
    font-size: 50px;
    margin-top: 0px;
    height: 93px;
    width: 225px;
    padding: 28px;
}
#navbar1{
    height: 40px;
    margin-left: 1100px;
}
ul{
    list-style-type: none;
    text-align: center;
}
li a{
    float: left;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    display: block;
    border: solid black;
    color: brown;
    border-radius: 5px;
    background-color: cornflowerblue;
    margin-left: 10px;
}
li a:hover{
    background-color: darkgoldenrod;
}
#container{
    height: 500px;
    width: 100%;
    margin-top: 0px;
}
#div1{
    height: 500px;
    width: 45%;
    float: left;
}
#form1{
    margin-top: 50px;
    margin-left: 50px;
    color: blue;
}
#form1 input{
    width: 200px;
    height: 25px;
}
#email{
    margin-left: 25px;
}
#phone{
    margin: 25px;
}
#message{
    margin-left: 125px;
}
#form1 textarea{
    width: 200px;
    height: 100px;
}
#form1 button{
    margin-left: 250px;
    padding: 10px;
    background-color: lightseagreen;
    border: 3px solid darkgreen;
    cursor: pointer;
}
#div2{
    height: 500px;
    width: 45%;
    float: right;
}
#div2 h2{
    text-align: center;
    margin-top: 50px;
    color: blue;
}
#div2 p{
    text-align: center;
    font-weight: 900;
    line-height: 1.5;
    font-size: 20px;
    color: crimson;
}
#footer{
    height: 200px;
    width: 100%;
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    margin-top: 0px;
    padding-top: 20px;
}